* { 
    box-sizing: border-box;
}

html { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    min-width: 360px; 

}

main { 
    display: flex; 
    flex-direction: column;

}

@media only screen and (max-width: 1000px) { 
    html { 
        font-size: 16px; 
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 14px; 
    }
}

/* header nav */

nav { 
    background-color: #0C61F5;
    height: 70px; 
}

nav ul {
    float: right; 
    list-style-type: none; 
    display: flex; 
    justify-content: flex-end;
    margin-top: 30px;
}

nav li { 
    margin-right: 40px;
    color: #FFFFFF; 
    font-weight: 800;
    font-size: 1.5em;
}

nav a:hover { 
    color: #F5AA0C;
}

@media only screen and (max-width: 425px) {
    nav li {
        font-size: 1.2em; 
        margin-right: 25px; 
    }
}

/* banner */

.banner { 
    background: url(images/running\ bridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;  
}

.title { 
    color: #FFFFFF; 
    float: left;
    margin: 0em 2em; 
    width: 50%; 
}

.title h1 { 
    font-size: 3vw; 
}

.title p { 
    font-size: 2vw; 
    width: 400px; 
}

@media only screen and (max-width: 480px) {

    .title {
        width: 80%; 
    }

    .title p {
        font-size: 1em; 
    }
    
}

/* wanneer */

.wanneer {
    display: flex; 
    align-items: center;
}

.wanimg {  
    width: 50%; 
    margin: 1em 1em 1em 5em; 
}

.wanimg img { 
    width: 80%; 
    height: auto;
    border-radius: 50px;
}

.wantext { 
    width: 50%;  
    margin: 1em 1em; 
}

.wantext p { 
    width: 80%; 
}

/* Hoe */

.hoe {
    display: flex; 
    align-items: center;
}

.htext  { 
    width: 50%; 
    margin: 1em 1em 1em 5em;  
}

.htext p { 
    width: 80%;  
}

.himg { 
    width: 50%; 
    margin: 1em 1em;
}

.himg img { 
    width: 80%;  
    border-radius: 50px;
    
}



@media only screen and (max-width: 600px) {
    .wanneer, .hoe {
        flex-wrap: wrap; 
        align-items: center;
    }

    .wanneer {
        flex-direction: column;
    }

    .hoe {
        flex-direction: column-reverse;
    }

    .wanimg, .wantext, .htext, .himg {
        width: 80%; 
        margin: 1em 5em; 
    }

    .wanimg img {
        margin: 1em 0; 
    }
}


/* Met wie */

.metwie { 
    margin: 10px 20px; 
}

.mtitle { 
    text-align: center;
}

.mpeople { 

    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap; 
    width: 90%; 

}

.person { 
    height: 200px; 
    width: 200px; 
    text-align: center; 
}

.person img {  
    width: 150px;
    margin: auto; 

} 


/* footer */

footer { 
    background-color: #0C61F5;
    color: #FFFFFF; 
    text-align: center;
    height: 100px; 
    font-size: 1.1em;  
}

address { 
    padding-top: 25px; 
}